@import url("https://fonts.googleapis.com/css2?family=Noto+Music&family=Open+Sans:wght@300;400;700&display=swap");
.app-1,
.app-2 {
  display: contents;
}

body:not(.tab-one) .app-1,
body.tab-one .app-2 {
  display: none;
}

.tabs {
  padding-left: 0.5rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.tab {
  width: 6rem;
  margin: 0 0 -1px 0;
}

body:not(.tab-one) .tab:first-child,
body.tab-one .tab:last-child {
  border-bottom-color: white;
  pointer-events: none;
}

body:not(.tab-one) .tab:first-child:hover,
body.tab-one .tab:last-child:hover,
body:not(.tab-one) .tab:first-child:focus,
body.tab-one .tab:last-child:focus {
  box-shadow: none;
}

body {
  font-family: Helvetica, "Noto Music";
  font-size: 14px;
  margin: calc(2rem + 5vh) 4rem;
  font-weight: 300;
}

main {
  width: -moz-min-content;
  width: min-content;
  max-width: 100%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: start;
}

h1 {
  font-size: 2.25rem;
  font-weight: 200;
  margin: 0 0.5rem 0 0;
}

.header-container span {
  line-height: 1.25rem;
  font-weight: normal;
  font-size: 0.875rem;
  margin-left: auto;
  position: relative;
  top: 0.5rem;
}

.header-container i {
  font-family: "Times New Roman";
  font-size: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
}

.grid-container table {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-container > :nth-child(2),
.grid-container > :last-child {
  margin-left: auto;
}

label {
  display: block;
  font-style: italic;
  padding-bottom: 0.375rem;
}

@media (max-width: 642px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
  main {
    padding-bottom: 3rem;
  }
  .input-container,
  #app1_inputContainer,
  .tuning-container {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .header-container span {
    top: 0;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
}
.fret-buttons {
  white-space: nowrap;
  grid-column: 2;
  justify-self: end;
  padding-left: 0.5rem;
}

#app1_inputContainer {
  min-width: 364px;
  padding-right: 0.5rem;
  white-space: nowrap;
}

#app1_inputContainer > div {
  display: flex;
  max-width: 15rem;
}

#app1_chords > div {
  display: flex;
  width: 22.25rem;
}

#app1_inputContainer > div > button,
#app1_chords > div > button {
  width: 100%;
}

.tuning-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
  width: -moz-max-content;
  width: max-content;
  justify-self: end;
}
.tuning-container label {
  padding-bottom: 0.125rem;
}

.tuning-container :nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 4;
}

.music-note {
  font-family: "Noto Music";
  line-height: 1;
}

#app1_chords :first-child sup {
  padding-left: 0.125rem;
}

input {
  padding: 0.25rem 0.75rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
  width: 10rem;
  border: 1px solid black;
  font-weight: 300;
  font-family: Helvetica;
}

#inputTuning {
  padding: 0.125rem 0.75rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

button {
  width: 1.875rem;
  height: 1.875rem;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 300;
  font-family: Helvetica;
  background: white;
  cursor: pointer;
  white-space: nowrap;
}

.fret-buttons button {
  font-size: 1.25rem;
}

.tuning-container button {
  width: auto;
  height: 1.25rem;
  margin: 0;
}

button.active {
  color: white;
  font-weight: 400;
  background-color: black;
}

input:hover,
button:hover,
input:focus,
button:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px black;
}

input.error {
  border-color: red;
  box-shadow: inset 0 0 0 1px darkred;
}

.app1-table {
  margin: 2.5rem 0 0.5rem -2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-collapse: collapse;
}

.app1-table.mid td:first-child {
  border-right-color: 0;
}

.app1-table td.mark {
  background: radial-gradient(black 50%, transparent 0) center no-repeat;
  background-size: 1.625rem 1.625rem;
}

#app1_savedContainer .app1-table td.mark {
  background-size: 0.875rem 0.875rem;
  visibility: viible !important;
}

.app1-table td {
  position: relative;
  width: 4rem;
  height: calc(2rem - 1px);
  padding: 0;
  border: 1px solid black;
}
.app1-table td:first-child {
  border-width: 0 4px 0 0;
  width: 2.25rem;
}
.app1-table tr:last-child td {
  border-color: transparent;
}
.app1-table td i,
.app1-table td b,
.app1-table td strong,
.app1-table td em {
  position: absolute;
  top: -1rem;
  left: calc(50% - 1rem);
  z-index: 1;
  min-width: 1.25rem;
  padding: 0 0.375rem;
  line-height: 2rem;
  border-radius: 1.125rem;
  text-align: center;
  font-style: normal;
  box-shadow: inset 0 0 0 1px black;
  background-color: white;
}
.app1-table td:hover i,
.app1-table td:hover b {
  z-index: 10;
}
.app1-table .ninth {
  left: calc(50% - 1.5rem);
}
.app1-table td strong,
.app1-table td em {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-bottom: 0.25rem;
}
.app1-table td em {
  box-shadow: none;
  background: none;
}
.app1-table td b {
  color: white;
  background-color: black;
  border-color: white;
}
.app1-table td b .full,
.app1-table td i .full {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: inherit;
  border: 1px solid black;
  padding: 0 0.375rem;
  line-height: 1.875rem;
  border-radius: 1rem;
  white-space: nowrap;
}
.app1-table td:hover b .full,
.app1-table td:hover i .full {
  display: block;
}
.app1-table td .num {
  display: inline-block;
  transform: rotate(-90deg) translateY(6px);
}

span.sharp {
  display: inline-block;
  padding: 0 2px 0 3px;
}

span.flat {
  display: inline-block;
  padding: 0 1px 0 2px;
  transform: scale(1.75, 1.25) translateY(-1px);
}

span.add {
  font-size: 0.75em;
}

.notes {
  position: relative;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.5rem;
  font-size: 0.875rem;
  font-weight: 200;
}

.notes > span {
  font-style: italic;
  height: 1.25rem;
  padding-right: 0.75rem;
  white-space: nowrap;
  line-height: 1rem;
}
.notes > span:last-child {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.notes sup {
  vertical-align: 3px;
}

.notes-goto {
  width: auto !important;
  height: auto;
  text-decoration: underline;
  border: none;
  padding: 0;
  text-underline-offset: 2px;
  font-size: 0.875rem;
}
.notes-goto:focus, .notes-goto:hover {
  box-shadow: none;
}

@media (max-width: 720px) {
  body {
    margin: 2rem 1.5rem 2rem 2.5rem;
  }
}
@media (max-width: 642px) {
  #app1_inputChord,
  .tuning-container {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .tuning-container {
    justify-self: start;
    margin-top: 1rem;
    margin-left: 0 !important;
  }
  #app1_inputContainer {
    min-width: unset;
    width: 100%;
  }
  body.tab-one .tuning-container {
    display: none;
  }
}
@media (max-width: 540px) {
  #app1_chords > div {
    width: auto !important;
  }
  .chord-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.125rem 0.25rem;
    padding-bottom: 1rem;
  }
  .chord-container > :last-child {
    grid-column: 3;
  }
}
@media print {
  body, main {
    width: calc(100vw - 4rem);
  }
  .header-container,
  .grid-container {
    display: none !important;
  }
}
.fret-buttons {
  white-space: nowrap;
  justify-self: end;
}

.input-container {
  display: grid;
  grid-template-columns: auto auto;
  min-width: 364px;
  white-space: nowrap;
  padding-right: 0.5rem;
}
.input-container > :first-child {
  grid-column: span 2;
}

#app2_inputChord,
.icon-play {
  grid-row: 2;
}

.tuning-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
  width: -moz-max-content;
  width: max-content;
  justify-self: end;
}
.tuning-container label {
  padding-bottom: 0.125rem;
}

.tuning-container :nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 4;
}

input {
  padding: 0.25rem 0.75rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
  width: 13.5rem;
  border: 1px solid black;
  font-weight: 300;
  font-family: Helvetica;
}

#inputTuning {
  width: 100%;
  padding: 0.125rem 0.75rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.fret-buttons button {
  font-size: 1.25rem;
}

.tuning-container button {
  width: auto;
  height: 1.5rem;
  margin: 0;
}

button.active {
  color: white;
  background-color: black;
}

input:hover,
button:hover,
input:focus,
button:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px black;
}

input.error {
  border-color: red;
  box-shadow: inset 0 0 0 1px darkred;
}

.icon-save {
  position: relative;
  width: 25px;
  border-radius: 0 0 2px 2px;
  margin-right: 0.375rem;
}

.icon-save:after {
  content: "";
  position: absolute;
  padding: 7px;
  bottom: -8px;
  left: 4px;
  transform: rotate(45deg);
  border: solid black;
  border-width: 1px 0 0 1px;
  background: white;
}

.icon-save:hover:after,
.icon-save:focus:after {
  border-width: 2px 0 0 2px;
}

.icon-play,
.icon-play:after {
  position: relative;
  bottom: -0.5rem;
  left: -2rem;
  width: 0;
  height: 0;
  padding: 0;
  border: solid transparent;
  border-width: 16px 18px;
  border-left-color: black;
}

.icon-play:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -17px;
  border-width: 14px 16px;
  border-left-color: white;
}

.icon-play:hover,
.icon-play:focus {
  border-width: 18px 21px;
  left: calc(-2rem + 1px);
  bottom: calc(-0.5rem + 1px);
}

.icon-play:hover:after,
.icon-play:focus:after {
  left: -19px;
}

.app2-table {
  margin: 2.5rem 0 0.5rem -2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-collapse: collapse;
}

.app2-table.mid td:first-child {
  border-right-width: 0;
  padding-right: 1px;
}

.app2-table td.mark {
  background: radial-gradient(black 50%, transparent 0) center no-repeat;
  background-size: 1.625rem 1.625rem;
}

#app2_savedContainer .app2-table td.mark {
  background-size: 0.875rem 0.875rem;
  visibility: viible !important;
}

.app2-table td {
  position: relative;
  width: 4rem;
  height: calc(2rem - 1px);
  padding: 0;
  border: 1px solid black;
}
.app2-table td:first-child {
  border-width: 0 4px 0 0;
  width: 2.25rem;
}
.app2-table tr:last-child td {
  border-color: transparent;
}
.app2-table td i,
.app2-table td b,
.app2-table td strong,
.app2-table td em {
  position: absolute;
  top: -1rem;
  left: calc(50% - 1rem);
  z-index: 1;
  width: 2rem;
  line-height: 2rem;
  border-radius: 100%;
  text-align: center;
  font-style: normal;
  box-shadow: inset 0 0 0 1px black;
  background-color: white;
}
.app2-table td:hover i,
.app2-table td:hover b {
  z-index: 10;
}
.app2-table td strong,
.app2-table td em {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-bottom: 0.25rem;
}
.app2-table td em {
  box-shadow: none;
  background: none;
}
.app2-table td b {
  color: white;
  background-color: black;
  border-color: white;
}
.app2-table td b .full,
.app2-table td i .full {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: inherit;
  border: 1px solid black;
  padding: 0 0.375rem;
  line-height: 1.875rem;
  border-radius: 1rem;
  white-space: nowrap;
}
.app2-table td:hover b .full,
.app2-table td:hover i .full {
  display: block;
}
.app2-table td .num {
  display: inline-block;
  transform: rotate(-90deg) translateY(6px);
}
.app2-table td[class^=bar]:after {
  content: "";
  position: absolute;
  top: -1rem;
  left: calc(50% - 1rem);
  border-radius: 1rem;
  z-index: 0;
  width: 2rem;
  background: black;
}
.app2-table td.bar-1:after {
  height: 4rem;
}
.app2-table td.bar-2:after {
  height: 6rem;
}
.app2-table td.bar-3:after {
  height: 8rem;
}
.app2-table td.bar-4:after {
  height: 10rem;
}
.app2-table td.bar-5:after {
  height: 12rem;
}
.app2-table td.bar-6:after {
  height: 14rem;
}
.app2-table td.bar-7:after {
  height: 16rem;
}
.app2-table td.bar-8:after {
  height: 18rem;
}

#app2_savedContainer td[class^=bar]:after {
  top: calc(-0.5rem - 1px);
  left: calc(50% - 0.5rem - 1px);
  width: 1.125rem;
}

#app2_savedContainer td.bar-1:after {
  height: 2.5rem;
}

#app2_savedContainer td.bar-2:after {
  height: 3.75rem;
}

#app2_savedContainer td.bar-3:after {
  height: 5rem;
}

#app2_savedContainer td.bar-4:after {
  height: 6.25rem;
}

#app2_savedContainer td.bar-5:after {
  height: 7.5rem;
}

#app2_savedContainer td.bar-6:after {
  height: 8.75rem;
}

#app2_savedContainer td.bar-7:after {
  height: 10rem;
}

#app2_savedContainer td.bar-8:after {
  height: 11.25rem;
}

span.sharp {
  display: inline-block;
  padding: 0 2px 0 3px;
  font-family: Arial;
}

span.flat {
  display: inline-block;
  padding: 0 1px 0 2px;
  transform: scale(1.75, 1.25) translateY(-1px);
}

td i .sharp {
  padding-left: 0;
}

span.add {
  font-size: 0.75em;
}

#app2_savedContainer span.flat {
  transform: scale(1.75, 1.25) translateY(-2px);
}

#app2_typeContainer {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  height: 2rem;
}

#app2_typeContainer span {
  font-style: italic;
  height: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
}

#app2_typeContainer sup {
  padding-left: 1px;
  vertical-align: 3px;
}

#app2_savedContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.875rem;
  margin-top: 3rem;
  padding-top: 2rem;
}

#app2_savedContainer > div {
  position: relative;
}

#app2_savedContainer.active {
  border-top: 1px solid black;
}

#app2_savedContainer .app2-table {
  margin: 0 -1.25rem 0 0;
  transform: rotate(90deg) translate(-1rem, 1.375rem);
}

#app2_savedContainer .app2-table td {
  width: 1.25rem;
  height: 1.25rem;
}

#app2_savedContainer button {
  opacity: 0;
  position: absolute;
  bottom: -0.25rem;
  left: -0.125rem;
  right: 0.125rem;
  width: auto;
  height: 1.625rem;
  line-height: 0;
  padding-right: 0.625rem;
  border: none;
  z-index: 10;
  font-size: 1.75rem;
}

#app2_savedContainer .app2-table,
#app2_savedContainer span,
#app2_savedContainer button {
  transition: opacity 0.2s;
}

#app2_savedContainer > div:hover .app2-table,
#app2_savedContainer > div:hover span,
#app2_savedContainer > div:focus .app2-table,
#app2_savedContainer > div:focus span {
  opacity: 0.3;
}

#app2_savedContainer > div:hover button {
  opacity: 1;
  box-shadow: none;
}

#app2_savedContainer td b {
  width: 1.125rem;
  height: 1.125rem;
  top: -0.5625rem;
  left: calc(50% - 0.5625rem);
}

#app2_savedContainer td em {
  background: none;
}

#app2_savedContainer h3 {
  margin: -0.5rem 0 0;
  text-align: center;
  font-weight: 300;
}

#app2_savedContainer .table-container {
  display: flex;
  align-items: center;
  height: 127px;
  width: 109px;
}

#app2_savedContainer .note {
  display: inline-block;
  transform: rotate(-90deg) translateX(0.5rem);
  font-style: italics;
}

.icon-print {
  display: none;
  position: relative;
  width: 1.5rem;
  height: 1.125rem;
  margin-top: 1rem;
  border-width: 0 0 1px 0px;
  border-radius: 0;
}

#app2_savedContainer.active + .icon-print {
  display: inline-block;
}

.icon-print:hover,
.icon-print:focus {
  box-shadow: none;
  border-bottom-width: 2px;
}

.icon-print:before {
  content: "";
  position: absolute;
  top: 1px;
  left: calc(0.375rem - 1px);
  width: 0.75rem;
  height: 1rem;
  background: white;
  border: 1px solid black;
  border-bottom-width: 0;
  border-radius: 2px;
}

.icon-print:hover:before,
.icon-print:focus:before {
  border-width: 2px 2px 0 2px;
  left: 0.25rem;
  top: 0;
}

.icon-print:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid black;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.icon-print:hover:after,
.icon-print:focus:after {
  border-width: 0 2px 2px 0;
  bottom: -11px;
  left: 3px;
}

@media (max-width: 720px) {
  body {
    margin: 2rem 1.5rem 2rem 2.5rem;
  }
}
@media (max-width: 642px) {
  #app2_inputChord,
  .tuning-container {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .icon-play {
    position: absolute;
    bottom: 0.25rem;
    left: 15rem;
  }
  .icon-play:hover, .icon-play:focus {
    left: calc(15rem - 1px);
    bottom: calc(0.25rem - 1px);
  }
  .tuning-container {
    justify-self: start;
    margin-top: 1rem;
    margin-left: 0 !important;
  }
  #app2_voiceContainer button {
    margin: 0 0.5rem 0.5rem 0;
  }
  .input-container {
    position: relative;
    min-width: unset;
    width: 100%;
  }
}
@media print {
  .tabs,
  .header-container,
  .grid-container,
  #app2_typeContainer,
  .icon-print {
    display: none !important;
  }
  td b, td:after {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  body, main {
    width: calc(100vw - 4rem);
  }
  #app2_savedContainer {
    border-top: none !important;
    width: 100%;
  }
}